<div class="scroll">
	<div class="scroll-main js-scroll-main">
		<iframe class="scroll-resize js-scroll-resize-main" src="about:blank"></iframe>
		<div class="scroll-content">
			<iframe class="scroll-resize js-scroll-resize-content" src="about:blank"></iframe>
			<div>
				{{{content}}}
			</div>
		</div>
	</div>

	<div class="scroll-bar js-scroll-bar">
		<div class="scroll-bar-handler js-scroll-bar-handler"></div>
	</div>
</div>
